@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
font-family: 'Work Sans', sans-serif;
}
.btn-primary {
    background-color: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    border-radius: 8px;
    padding: 20px 25px;
    border: 0;
    cursor: pointer;
}
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 40px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a {
    text-decoration: none;
    color: #424242;
}
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-discription {
    color: #727272;
}
.banner img {
    width: 100%;
    margin-top: 30px;
}

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    nav {
        flex-direction: column;
    }

}

@media screen and (min-width: 576px) and (max-width: 960px) {
    nav {
        flex-direction: column;
    }
    header {
        padding: 50px;
    }
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.team-container {
    display: flex;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content {
    padding-left: 70px;
    padding-right: 70px;
}

.content-title {
    font-size: 2.8rem;
}

.quick {
    color: #727272;
    font-weight: 500;
}

.text-features {
    color: #FF900E;
    font-weight: 700;
}
